<!-- questions delete.html -->
{% extends "layout.html" %}
{% load widget_tweaks %}

{% block content %}

<h2>Delete</h2>
<hr />

<p>この質問を削除します。よろしいですか？</p>
<div class="form-group mb-3">
    <p>{{ item.title }}</p>
    <p>{{ item.question_content }}</p>
    <p>{{ item.answer }}</p>
</div>

<form method="post" action="">
    {% csrf_token %}
    <input class="btn btn-danger mt-3" type="submit" name="Confirm" value="削除">
    <a class="btn btn-secondary mt-3" href={% url 'index' %}>戻る</a>
</form>

{% endblock %}
